In [ ]:
from parse_report import parse_report, load_file, dataframe_to_report, average_reports
import pandas as pd

In [7]:
files = !ls reports/desktop/json/*.txt
data = [load_file(fn) for fn in files]

In [8]:
reports = [parse_report(report) for title, report in data]

In [41]:
av = average_reports(reports)
av[av['batch_size']==1]

   batch_size             operation  transactions_per_second
0           1          Delete rides            210151.402875
1           1       Delete vehicles            304894.836036
2           1     Get ride vehicles            201028.298017
3           1     Get vehicle rides            190898.646838
4           1          Get vehicles            267336.295753
5           1          Insert rides            248129.235707
6           1       Insert vehicles            361020.200469
7           1  Read-update vehicles            319223.811506
8           1          Update rides            415719.752819
9           1       Update vehicles            661098.173407

In [45]:
print(dataframe_to_report(av))

Affected object per transaction 1.
Delete rides [0]: 210151.4 T/s
Delete vehicles [0]: 304894.8 T/s
Get ride vehicles [0]: 201028.3 T/s
Get vehicle rides [0]: 190898.6 T/s
Get vehicles [0]: 267336.3 T/s
Insert rides [0]: 248129.2 T/s
Insert vehicles [0]: 361020.2 T/s
Read-update vehicles [0]: 319223.8 T/s
Update rides [0]: 415719.8 T/s
Update vehicles [0]: 661098.2 T/s

Affected object per transaction 2.
Delete rides [0]: 116837.2 T/s
Delete vehicles [0]: 202674.6 T/s
Get ride vehicles [0]: 100186.4 T/s
Get vehicle rides [0]: 108099.4 T/s
Get vehicles [0]: 165643.5 T/s
Insert rides [0]: 131124.8 T/s
Insert vehicles [0]: 183250.8 T/s
Read-update vehicles [0]: 166191.2 T/s
Update rides [0]: 203442.1 T/s
Update vehicles [0]: 327957.1 T/s

Affected object per transaction 4.
Delete rides [0]: 54465.2 T/s
Delete vehicles [0]: 112388.4 T/s
Get ride vehicles [0]: 45065.9 T/s
Get vehicle rides [0]: 40484.8 T/s
Get vehicles [0]: 63773.5 T/s
Insert rides [0]: 62642.1 T/s
Insert vehicles [0]: 95666.8 T/s
Read-update vehicles [0]: 80222.5 T/s
Update rides [0]: 98252.8 T/s
Update vehicles [0]: 165002.6 T/s

In [42]:
sum([r[(r['batch_size'] == 1) & (r['operation'] == 'Delete rides')].iloc[0,2] for r in reports])/5

np.float64(210151.40287489197)